<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Upload a File</title>
    <style>
      body {
        background-color: #f8f9fa;
        color: #343a40;
      }
      .container {
        margin-top: 50px;
      }
      .upload-form {
        margin-top: 20px;
      }
      .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Browse";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Upload a File</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="alert-container">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="upload-form">
        <div class="form-group">
          <label for="file">Choose file</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" accept=".pdf,.txt,.doc,.docx">
            <label class="custom-file-label" for="file">Choose file</label>
          </div>
        </div>
        <div class="form-group">
            <label for="tag">Select a tag:</label>
            <select class="form-control" id="tag" name="tag">
                {% for tag in tags %}
                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
        <!-- Add the button to navigate back to the home page -->
        <div class="mt-3">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Home</a>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Update the label of the custom file input with the selected file name
      $('.custom-file-input').on('change', function() {
        var fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
      });
    </script>
  </body>
</html>
